In [ ]:
num = 12
name = 'Sam'
print('My number is {k} and my name is {p}, more{k}'.format(k=num,p=name))

In [ ]:
s = 'hellopp'
s[3:5]

In [ ]:
[1,2,3]

In [ ]:
['a','b','c']

In [ ]:
my_list = ['a','b','c']

In [ ]:
my_list.append('poi')

In [ ]:
my_list

In [19]:
my_list[2]= 'STAR'

In [20]:
my_list

[1, 2, 'STAR']

In [ ]:
nest=[1, 2, 3, [4,5,6,7,8],[9,10,['c','a','r']]]
print(nest[4][2][2])

In [4]:
d = {'key1':'value','key2':123}

In [5]:
d['key1']

'value'

In [6]:
d['key2']

123

In [7]:
d = {'k1':[1,2,3]}

In [9]:
d['k1'][2]

3

In [11]:
my_list = d['k1']

In [12]:
my_list[0]

1

In [13]:
d = {'k1':{'innerkey':[1,2,3]}}

In [21]:
d['k1']['innerkey'][1] = 'NEW'

In [17]:
True

True

In [18]:
False

False

In [22]:
d

{'k1': {'innerkey': [1, 'NEW', 3]}}

In [24]:
s={1,2,3,4,5,6}
s.add("kk")

In [25]:
s

{1, 2, 3, 4, 5, 6, 'kk'}

In [26]:
1>2

False

In [27]:
1>=2

False

In [28]:
1<=2

True

In [30]:
1==2

False

In [42]:
(1<2) or (2>3) and (5>8)

True

In [40]:
(1<3)  and (4>10) (6>7)

False

In [5]:
if 2>4:
    print('right')
else:
    print('no')

no

In [6]:
1 != 2

True

In [17]:
if 1==2:
    print('k')
elif 3<4 and 6<5:
    print('y')
else :
    print('l')

l

In [32]:
seq = [1,2,3,4,5]

for num in seq:
    print("kk")

kk
kk
kk
kk
kk

In [2]:
i = 1
while i<5:
    print('i is: {}'.format(i))
    i= i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [14]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [13]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [18]:
print(range(0,5))

range(0, 5)

In [19]:
1<=2

True

In [20]:
range(0,5)

range(0, 5)

In [7]:
x = [1,2,3,4]

In [8]:
out = []

for num in x:
    out.append(num**4)
print(out)

[1, 16, 81, 256]

In [37]:

[num**2 for num in x]

[1, 4, 9, 16]

In [43]:
t = [2,3,3,2]
new = [ele**2 for ele in t]
new

[4, 9, 9, 4]

In [6]:
def my_func(name):
    """
    THIS IS COKUMETATION
    """
    print('Hallo '+ name)
my_func('Jose')

Hallo Jose

In [8]:
def my_func(name = 'Default'):
    print('Hallo '+ name)
my_func()

Hallo Default

In [2]:
def square(num):
    return num**2
Out= square(2)
Out

4

In [11]:
Out

4

In [13]:
def times2(var):
    return var**3
times2(3)

27

In [14]:
seq=[1,2,3,4,5]
map(times2,seq)

In [16]:
def times2(var):
    return var**3
seq=[1,2,3,4,5]
map(times2,seq)
list(map(times2,seq))

[1, 8, 27, 64, 125]

In [17]:
t= lambda var:var*2
t(6)

12

In [19]:
list(map(lambda var:var*3,seq))

[3, 6, 9, 12, 15]

In [21]:
list(filter(lambda var:var%2==0,seq))

[2, 4]

In [23]:
list(filter(lambda num:num%2==1,seq))

[1, 3, 5]

In [24]:
s=[1,3,5,7,9]

In [25]:
s='Hallo I am Sam'

In [27]:
s.split()

['Hallo', 'I', 'am', 'Sam']

In [29]:
s.upper()

'HALLO I AM SAM'

In [32]:
s.split(s.upper())

['Hallo I am Sam']

In [33]:
list(map(lambda var:var.split,s))

[<function str.split(sep=None, maxsplit=-1)>,
 <function str.split(sep=None, maxsplit=-1)>,
 <function str.split(sep=None, maxsplit=-1)>,
 <function str.split(sep=None, maxsplit=-1)>,
 <function str.split(sep=None, maxsplit=-1)>,
 <function str.split(sep=None, maxsplit=-1)>,
 <function str.split(sep=None, maxsplit=-1)>,
 <function str.split(sep=None, maxsplit=-1)>,
 <function str.split(sep=None, maxsplit=-1)>,
 <function str.split(sep=None, maxsplit=-1)>,
 <function str.split(sep=None, maxsplit=-1)>,
 <function str.split(sep=None, maxsplit=-1)>,
 <function str.split(sep=None, maxsplit=-1)>,
 <function str.split(sep=None, maxsplit=-1)>]

In [1]:
j ='I am just $joking ok?, with'
j.split('$')

['I am just ', 'joking ok?, with']

In [53]:
d = {'k1':1, 'k2':2}

In [54]:
d.keys()

dict_keys(['k1', 'k2'])

In [56]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [58]:
lst = [1,2,3,4,5,6,'car']
lst.pop()

'car'

In [59]:
lst

[1, 2, 3, 4, 5, 6]

In [64]:
Item = lst.pop()
lst
Item

2

In [66]:
'x' in lst

False

In [73]:
x = [(1,3),(2,8),(3,8),(1,7)]
for item in x:print (item)

(1, 3)
(2, 8)
(3, 8)
(1, 7)

In [74]:
x = [(1,3),(2,8),(3,8),(1,7)]
for a,b in x:print (a)

1
2
3
1

In [1]:
+=

SyntaxError: invalid syntax (<ipython-input-1-586a2a6301c1>, line 1)

In [52]:
def prac(x):
   return [num for num in x if num%2 ]

In [53]:
prac([1,2,3,4,5,6,7,8])

[1, 3, 5, 7]

In [64]:
def add_one(x):
    result = x + 1
    return result

value = add_one(2)

value

3

In [66]:
def add(a, b):
    result = a + b
    return result

add(2, 2)

4